:root {
    --primary-bg: #13111C;
    --secondary-bg: #1E1B2E;
    --accent: rgb(61, 106, 255);
    --text-clr: rgba(255, 255, 255, 0.7);
    --gradient: linear-gradient(90deg, #5f94ff, #0900ab);
    --card-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    --card-border: 1px solid rgba(255, 255, 255, 0.05);
    --glass-bg: rgba(30, 27, 46, 0.95);
  }

footer {
  background: var(--primary-bg);
    padding: 40px 20px;
}

footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .section {
    flex: 1 1 200px;
    margin: 10px;
}

footer h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #fff;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a {
    text-decoration: none;
    color: #ccc;
    font-size: 14px;
}

footer ul li a:hover {
    color: #fff;
}

footer .language-selector, footer .currency-selector {
    margin-top: 20px;
}

footer select {
    background-color: var(--primary-bg);
    border: 1px solid var(--primary-bg);
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    border: solid 1px black;
    cursor: pointer;
    width: 50%;
}

footer .btc-rate {
    margin-top: 20px;
    font-size: 14px;
    color: #ccc;
}

footer .social-icons {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

footer .social-icons a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

footer .social-icons a:hover {
    color: #ccc;
}

.logo-footer {
    text-align: center;
    margin-bottom: 20px;
}

.logo-footer img {
    max-width: 100px;
}

.copyright {
    text-align: center;
    margin-top: 40px;
    font-size: 12px;
    color: #ccc;
}