
footer {
  background: linear-gradient(90deg, #2b134b, #1b1035);
    padding: 40px 20px;
}

footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .section {
    flex: 1 1 200px;
    margin: 10px;
}

footer h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #fff;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a {
    text-decoration: none;
    color: #ccc;
    font-size: 14px;
}

footer ul li a:hover {
    color: #fff;
}

footer .language-selector, footer .currency-selector {
    margin-top: 20px;
}

footer select {
    background-color: #1b1035;
    border: 1px solid #1b1035;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    border: solid 1px black;
    cursor: pointer;
}

footer .btc-rate {
    margin-top: 20px;
    font-size: 14px;
    color: #ccc;
}

footer .social-icons {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

footer .social-icons a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

footer .social-icons a:hover {
    color: #ccc;
}

.logo-footer {
    text-align: center;
    margin-bottom: 20px;
}

.logo-footer img {
    max-width: 150px;
}

.copyright {
    text-align: center;
    margin-top: 40px;
    font-size: 12px;
    color: #ccc;
}